<div class="container">
  <h1>The temperature in {{the_city}} is {{temp}}<sup>o</sup>C</h1>
  <div class="weather">
    <div class="more-details">
      <h3>More details</h3>
      <img class="weather-icon" src="{{url}}" alt="weather icon">
      <ul>
        <li>Max temperature: {{max_temp}}<sup>o</sup>C</h1>
        </li>
        <li>Min temperature: {{min_temp}}<sup>o</sup>C</h1>
        </li>
        <li>Humidity: {{humidity}}%</li>
        <li>Wind Speed: {{wind_speed}}</li>
      </ul>
      <button class="btn btn-back" onclick="location.href='index.html';">Go Back</button>
    </div>
  </div>
</div>